	<div id="app_holder">
	  <div id="feature">
	  </div>
	  <div id="launch_holder">
        <%= link_to "", "http://bushi.do/apps/new?repo=#{@project.source_url}", :id=>"launch" %>
	  </div>
	  <div id="feature_description">
        <p class="feature_title"><%= @project.title %></p>
        <p class="feature_discription"><%= @project.short_desc %></p><br/>
        <p class="feature_info"><%= @project.about %></p>
	  </div>
	</div>
	<div class="line_break">
	</div>
	<!--start of showcase-->
	<div id="showcase_holder">
	  <div id="tab_ribbon">
	    <div class="ribbon_left">
	      <div class="ribbon_fill"></div>
	      <div class="ribbon_triangle"></div>
	    </div>
	    <div class="ribbon_right">
	      <div class="ribbon_fill"></div>
	      <div class="ribbon_triangle"></div>
	    </div>
	  </div>
	  <ul class="tabs">
	    <li><a href="#tab1">Screenshots</a></li>
	    <li><a href="#tab2" class="tab_border">Info</a></li>
	    <li><a href="#tab3">Similar</a></li>
	  </ul>
	  <div class="tab_container">
	    <div id="tab1" class="tab_content">
	      <div id="slideshow">
            <%-#assuming here that there's atleast one screenshot %>
            <%- @first_id = @project.screenshots.first.id %>
            <%- @project.screenshots.each do |s| %>
              <%- if s.id == @first_id %>
                <%= image_tag s.image.url(:full), :class=>"active" %>
              <%- else %>
                <%= image_tag s.image.url(:full) %>
              <% end %>
            <% end %>
	      </div>
	    </div>
	    <div id="tab2" class="tab_content">
	      <div id="showcase_padd">
		<div class="info_holder">
          <p class="info_brown">License: <%= @project.license %></p>
          <p class="info_brown">
            <%- if @project.authors.count==1 %>
              Author: 
            <%- else %>
              Authors: 
            <%- end %>

            <%- @last_author_id = @project.authors.last.id %>
            <%- @project.authors.each do |a| %>
              
              <%- if a.url.nil? %>
                <%= a.name %>
              <%- else %>
                <%= link_to a.name, a.url %>
              <%- end %>

              <%- unless @last_author_id == a.id %>
                ,
              <%- end %>

            <%- end %>
          </p>
		</div>
		<div class="line_break">
		</div>
		<div class="info_holder">
		  <p class="info_brown">Homepage</p>
          <p class="info_blue"><a href="<%= @project.homepage_url %>" style="text-decoration:none;color:#003366"><%= @project.homepage_url %></a></p>
		</div>
	      </div>
	    </div>
	    <div id="tab3" class="tab_content">
	      <div id="showcase_padd">
		<div class="showcase_row">
		  <div class="app_logo">
		  </div>
		  <div class="app_discription">
		    <p class="title">Failtale</p>
		    <p class="subtitle">Reporting</p><br/>
		    <p class="discription">Error reporting app<p>
		  </div>
		  <div class="app_logo">
		  </div>
		  <div class="app_discription">
		    <p class="title">Failtale</p>
		    <p class="subtitle">Reporting</p><br/>
		    <p class="discription">Error reporting app<p>
		  </div>
		  <div class="app_logo">
		  </div>
		  <div class="app_discription">
		    <p class="title">Failtale</p>
		    <p class="subtitle">Reporting</p><br/>
		    <p class="discription">Error reporting app<p>
		  </div>
		</div>
		<div class="line_break">
		</div>
		<div class="showcase_row">
		  <div class="app_logo">
		  </div>
		  <div class="app_discription">
		    <p class="title">Failtale</p>
		    <p class="subtitle">Reporting</p><br/>
		    <p class="discription">Error reporting app<p>
		  </div>
		  <div class="app_logo">
		  </div>
		  <div class="app_discription">
		    <p class="title">Failtale</p>
		    <p class="subtitle">Reporting</p><br/>
		    <p class="discription">Error reporting app<p>
		  </div>
		  <div class="app_logo">
		  </div>
		  <div class="app_discription">
		    <p class="title">Failtale</p>
		    <p class="subtitle">Reporting</p><br/>
		    <p class="discription">Error reporting app<p>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="bottom_ribbon">
	</div>
<!--end of showcase-->
